body{
  background: white;
}

.sidebar {
  position: absolute;
  margin-left: 20%;
  right: 0px;
  margin-top: 20px;
  width: 170px;
  height:  100%;
  background-color: #fffff;
  text-align: right;
}

.sidebar ul {
  position: fixed;
  list-style-type: none;
}

a:active{
  background-color: gray;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: white;
  background: gray;
}

a{
  color: black;
  text-transform: uppercase;
  display: flex;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar a{
  padding: 3px;
}

.myname h3{
  margin-left: 100px;
  margin-top: 40px;
  font-size: 14px;
  font-family: Barlow;
  letter-spacing: 2.5px;
  font-weight: bolder;
}

.mytitle h1{
  margin-left: 20px;
  margin-top: 320px;
  font-size: 40px;
  font-family: Barlow;
  letter-spacing: 0.3px;
  font-weight: bolder;
  transform: rotate(270deg);
	transform-origin: left top;
  position: fixed;
  list-style-type: none;
}

.myimage{
  vertical-align: middle;
  margin-left: 27%;
}

.enter-aboutme a{
  margin-left: 780px;
  font-size: 15px;
  font-weight: bolder;
  -webkit-transition: all 2s;
  transition: all 2s ease;
  transition-timing-function: ease;
}

.enter-aboutme a:hover{
  font-size: 25px;
}

.myproject{
  margin-top: 150px;
  padding-left: 130px;
  background-size: 500px, 800px;
  background-color: coral;
  text-transform: uppercase;
  font-family: Barlow;
  font-size: 15px;
  padding-bottom: 200px;
  padding-top: 60px;
  color: white;
  font-weight: bold;
}

.myproject a{
  background: none;
}

.myproject video{
  margin-top: 40px;
  width: 270px;
  height: 310px;
}

.projectinfo p{
  padding-top: 5px;
  font-size: 12px;
  display: inline-block;
}

.projectinfo a{
  padding-top: 5px;
  font-size: 12px;
  display: inline-block;
  position: relative;
}

.projectvideo{
    vertical-align: top;
    display: inline-block;
    text-align: left;
}

.enter-aboutme a:hover{
  background: white;
  color: gray;
}

.enter-line{
  margin-left: 700px;
  font-size: 14px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bolder;
}


.myselfie{
  margin-left: 20%;
  margin-top: 7%;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.aboutme{
  background-color: pink;
  padding-top: 2%;
  padding-bottom: 5%;
  padding-left: 17%;
  padding-right: 20%;
  margin-top: 17%;
  margin-left:30%;
  font-family:Courier New;
  font-size: 13px;
}

h3{
  text-transform: uppercase;
  font-family: sans-serif;
}

.main-line{
  width: 80px;
  margin-left: 780px;
  border-bottom: 5px solid black;
}

.line{
  width: 80px;
  margin-left: 780px;
  border-bottom: 5px solid black;
}

.project video{
  border:5px solid plum;
  margin-top: 20%;
  margin-left:20%;
  font-family:Courier New;
  width: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  float:left;
}

.projecttext{
  margin-top: 35%;
  margin-left: 43%;
  padding-left:60px;
  padding-top:30px;
  padding-right:30px;
  padding-bottom:30px;
  font-family:Courier New;
  font-size: 13px;
  border: 5px dashed plum;
  width:400px;
}

#projecttext2{
  margin-top: -660px;
  margin-left: 530px;
  padding-left: 30px;
  padding-right: 10px;
}

.projecttext ul{
  list-style-type: square;
  background-color: none;
}


.projecttext a:hover{
  background-color: white;
  color:pink;
}

#project-checkout a:active{
  background-color: none;
  background: none;
}


#project2{
  margin-top: 40px;
  padding-left: 200px;
  width:650px;
  border:5px solid pink;
}

.contact{
  margin-top: 20%;
  margin-left:15%;
  font-family:Courier New;
  font-size: 14px;
}

.contact-line{
width: 40px;
margin-left:450px;
border-bottom: 5px solid black;

}

#locaion{
  font-family:Barlow;
  font-size: 14px;
  font-weight: bolder;
}

#email{
  font-family:Barlow;
  font-size: 14px;
  font-weight: bolder;
}

#massage{
  font-family:Barlow;
  font-size: 14px;
  font-weight: bolder;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid gray;
}

input:focus{
  border: none;
  border-bottom: 2px solid orange;
}

:focus{
  outline: none;
}

textarea[type=text]{
  border: none;
  border-bottom: 1px solid gray;
}

#Message {
  width: 300px;
  height: 100px;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid black;
}

#button{
  border: none;
  background: orange;
  padding:10px;
  color: white;
  font--size:30px;
  font-weight: bolder;
  text-decoration:none;
  position: review;
  margin-left: 45%;
  cursor:pointer;
}

#button:hover{
  background: gray;
}

footer {
  margin-top: 300px;
  text-align: center;
  background-size: 40px;
  display: block;
}

#Copyright{
  color: gray;
  font-size: 10px;
  font-family: Courier New;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  background: orange;
  color: white;
  transition: 0.1s ease-in;
}

.fa:hover {
  background: pink;
  color: white;
  padding: 15px;
  font-size: 25px;
  width: 25px;
}

.myskills {
  margin-top: 20%;
  padding-left: 10%;
  margin-right: 200px;
  background-color: pink;
  text-transform: uppercase;
  font-family: Barlow;
  font-size: 15px;
  padding-top: 60px;
  padding-bottom: 20%;
  color: white;
  font-weight: bold;
}

.SkillBar {
    margin-top:5%;
    padding:5px;
    width: 70%;
    height: 50px;
    background: white;
    margin-left: 30px;
    color: gray;
    font: 40px;
}

.Skill-Area {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: white;
    font-size: 18px;
}

.PercentText {
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    color: white;
    font-size: 18px;
}

#Skill-JAVA {
    width: 40%;
    animation: Animate-JAVA 4s;
    -webkit-animation: Animate-JAVA 4s ease-out;
    height: 50px;
    position: absolute;
    background-color: orange;
}

@keyframes Animate-JAVA {
  from {
    width: 10%;
  }
  to {
    width: 40%;
  }
}

@-webkit-keyframes Animate-JAVA {
  from {
    width: 10%;
  }
  to {
    width: 40%;
  }
}

#Skill-C{
    width: 35%;
    animation: Animate-C 4s;
    -webkit-animation: Animate-C 4s ease-out;
    height: 50px;
    position: absolute;
    background-color: MediumVioletRed;
}

@keyframes Animate-C {
  from {
    width: 10%;
  }
  to {
    width: 35%;
  }
}

@-webkit-keyframes Animate-C {
  from {
    width: 10%;
  }
  to {
    width: 35%;
  }
}

#Skill-PYTHON{
  width: 45%;
  animation: Animate-PYTHON 3s;
  -webkit-animation: Animate-PYTHON 3s ease-out;
  height: 50px;
  position: absolute;
  background-color: SlateBlue;
}

@keyframes Animate-PYTHON {
  from {
    width: 15%;
  }
  to {
    width: 45%;
  }
}

@-webkit-keyframes Animate-PYTHON {
  from {
    width: 15%;
  }
  to {
    width: 45%;
  }
}

#Skill-HTML{
    width: 25%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s ease-out;
    height: 50px;
    position: absolute;
    background-color: Orchid;
}

@keyframes Animate-HTML {
  from {
    width: 15%;
  }
  to {
    width: 25%;
  }
}

@-webkit-keyframes Animate-HTML {
  from {
    width: 15%;
  }
  to {
    width: 25%;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}


#shape1 {
    background-image: url("img/shape1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vw;
    z-index: -1;
    opacity: .7;
}
#shape2 {
    background-image: url("img/shape2.jpg");
    background-repeat: no-repeat;
    background-position: 8% top;
    background-size: 40%;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vw;
    z-index: -2;
    opacity: 1;
}
#shape3 {
    background-image: url("img/shape3.jpg");
    background-repeat: repeat;
    background-position: bottom;
    background-size: 30%;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vw;
    z-index: -2;
    opacity: .9;
}

.box{
  margin: 500px;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:700px;
  padding: 20px;
  background: plum;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  display: flex;
  transition: 0.5s;
}

.box:hover{
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.box a{
  position: absolute;
  margin-left: 480px;
  margin-top:250px;
  font-size:20px;
  color:white;
  font-weight: bolder;
  -webkit-animation: flash 5s  infinite;
  animation-name: flash 5s infinite;
}

.box a:hover{
  color:plum;
  background-color: white;
  -webkit-animation: none;
  animation-name: none;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 92%;
  border-style: solid;
  border-width: 3.5px;
}
