.section {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 200px;
    position: relative;
}

a{
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

a:active{
  background-color: gray;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: white;
  background: gray;
}

ul {
    list-style-type: none;
}

hr{
    border: 4px solid black;
    width:40px;
    float: left;
    display: inline-block;
}

h3,
h2{
  text-transform: uppercase;
  font-family: sans-serif;
}

.button {
    background: white;
    border: 2px solid black;
    padding: 0.5rem;
    color: black;
    font-size: 1rem;
    margin-bottom: 10px;
}

.button:active,
.button:hover {
  color: white;
  background: gray;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  display: none;
}

.sidebar {
  position: fixed;
  margin-left: 20%;
  right: 0px;
  margin-top: 20px;
  width: 170px;
  height:  100%;
  text-align: left;
}

.sidebar a{
  padding: 5px;
}

.mobile-sidebar {
  width: 10rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-sidebar ul{
    position: relative;
}

.mobile-sidebar a{
    font-size: 1rem;
}


.mobile-sidebar.open {
  transform: translateX(0);
}

.mobile-sidebar-item {
  margin: 1rem;
  padding: 0;
}

#sidebar-toggle {
    position: fixed;
}

#logo {
    margin-right:10px;
    width: 20px;
    height: 15px;
}

#myname {
  margin-left: 100px;
  margin-top: 40px;
  font-size: 1rem;
  font-family: Barlow;
  letter-spacing: 2.5px;
  font-weight: bolder;
}

#mytitle{
  margin-left: 20px;
  margin-top: 400px;
  font-size: 40px;
  font-family: Barlow;
  letter-spacing: 0.3px;
  font-weight: bolder;
  transform: rotate(270deg);
transform-origin: left top;
  position: fixed;
}

#myimage{
    display: block;
    margin: 5% 20% 20% 20%;
    width: 60%;
    height: 50%;
}

.aboutme{
    margin-left: 200px;
    margin-right: 200px;
}

#myselfie{
    position:inherit;
    width: 250px;
    float: right;
    margin-top: 40px;
    margin-right: 60px;
    margin-left: 40px;
}

#contact-view{
    position:inherit;
    width: 250px;
    float: right;
    margin-top: 40px;
    margin-right: 200px;
    margin-left: 10px;
}

#aboutme{
  background-color: pink;
  font-family:Courier New;
  font-size: 14px;
    margin-top: 40px;
    margin-right: 150px;
    padding: 50px 30px;
}

#projects{
   background-color: coral; 
}

#projects-title{
    padding-left: 10%;
    padding-top: 5%;
    color: white;
}

.card{
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

.card p,
.card h2,
.card h3{
  padding: 20px;
  margin: 10px;
  font-family: sans-serif;
}
.card h3{
  text-align: center;
  margin: auto;
  padding: 10px;
}

.card a{
  font: 14px bold Arial, sans-serif;
  margin: auto;
  position: relative;
  padding: inherit;
}
.card p{
  font-family:Courier New;
  font-size: 13px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    width: 350px;
    height: 500px;
    margin: 10px 20px 100px 150px;
    text-align: left;
    flex-wrap: wrap;
    display: inline-flex;
}

#skill-title {
    margin-top: 100px;

}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  background: orange;
  color: white;
  transition: 0.1s ease-in;
}

.fa:hover {
  background: pink;
  color: white;
  padding: 15px;
  font-size: 25px;
  width: 25px;
}

#shape1 {
/*    background-image: url("img/shape1.jpg");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vw;
    z-index: -1;
    opacity: .7;
}
#shape2 {
    background-image: url("img/shape2.jpg");
    background-repeat: no-repeat;
    background-position: 8% top;
    background-size: 40%;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vw;
    z-index: -2;
    opacity: 1;
}
#shape3 {
    background-image: url("img/shape3.jpg");
    background-repeat: repeat;
    background-position: bottom;
    background-size: 30%;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vw;
    z-index: -2;
    opacity: .9;
}


@media (min-width: 65rem) {
  #sidebar-toggle  {
    display: none;
  }

}

@media(max-width: 60rem) {
    #aboutme{
        display: block;
        position: relative;
        margin: 10px 30px;
        width: 300px;
    }   
    
    #myselfie{
        width: 200px;
        margin: 10px 30px;
        display: block;
        position: relative;
        float: none;
    }
    #contact-view{
        display: none;
    }
    
}
    
@media(max-width: 55rem) {
  .sidebar {
    display: none;
  }

    #myimage{
        width: 350px;
    }  
    
    
}


